.about {
    margin: 0px;
    padding: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-second);
    gap: 80px;
    padding-top: 100px;
}
.about-header{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.about-header h1{
    position: relative;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.about-header h1 span{
    font-weight: 600;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "outfit", sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.about-expertise{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-expertise h1{
    font-size: 36px;
    font-weight: 500;
    font-family: "outfit", Arial;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills .title{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 22px;
}
.skills .title h3{
    font-family: "outfit", sans-serif;
    font-weight: 500;
}
.skills svg {
    font-size: 30px;
}
.expertise-icon {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.expertise-icon:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.chip {
    color: rgb(39, 40, 34) !important;
    background-color: var(--flex-chip-bg-color) !important;
    font-size: 0.9rem !important;
    height: 25px !important;
  
    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(39, 40, 34);
    }
  
    svg {
        height: 15px !important;
    }
}

.flex-chips {
    line-height: 2;
}

.flex-chips .MuiChip-root {
    transition: transform 0.2s, border 0.2s;
    margin-right: 0.5em;
}

.flex-chips .MuiChip-root:hover {
    transform: scale(1.02);
    border: 2px solid var(--text-border-color);
}

.about-certifications {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-certifications h1 {
    font-size: 36px;
    font-weight: 500;
    font-family: "outfit", Arial;
    position: relative;
}

.certifications-grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.arrow-button-left {
    border: transparent;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    opacity: 0.8;
    padding-right: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.arrow-button-left:hover {
    transform: scale(1.2);
    opacity: 1;
}
.arrow-button-right {
    border: transparent;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    opacity: 0.8;
    padding-left: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.arrow-button-right:hover {
    transform: scale(1.2);
    opacity: 1;
}
.certifications-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
}
.certification {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.certification:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgb(248, 63, 11), 0 0 15px 5px rgba(255, 0, 150, 0.2);
}

.certification img {
    width: 100%;
    object-fit: cover;
}
.certification .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(rgba(69, 18, 101, 0.2), #c3380e 110%);
    color: #f8f3f3 !important;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}
.certification:hover .overlay{
    transform: translateY(0);
}
.certification h3{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: "outfit", sans-serif;
}

@media (max-width: 768px) {
    .about {
        padding: 80px;
        gap: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about-header h1{
        font-size: 36px;
    }
    .about-para{
        text-align: center;
        font-size: 18px;
    }
    .about-expertise{
        gap: 20px;
    }
    .about-expertise h1{
        font-size: 28px;
    }
    .skill-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .skills{
        gap: 10px;
    }
    .skills .title{
        font-size: 20px;
    }
    .skills svg {
        font-size: 22px;
    }

    .about-certifications {
        gap: 30px;
    }
    
    .about-certifications h1 {
        font-size: 28px;
    }
    
    .arrow-button-icon{
        font-size: 20px;

    }
    .certifications-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    } 
}

@media (max-width: 360px) {
    .about {
        padding: 50px;
        gap: 50px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .about-header h1{
        font-size: 30px;
    }
    .about-para{
        text-align: left;
        font-size: 18px;
    }
    .about-expertise{
        gap: 20px;
    }
    .about-expertise h1{
        font-size: 26px;
    }
    .skill-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .skills{
        gap: 10px;
    }
    .skills .title{
        font-size: 20px;
    }
    .skills svg {
        font-size: 22px;
    }

    .chip {
        font-size: 0.8rem !important;
    }
    .about-certifications {
        display: none;
        gap: 30px;
    }
    
    .about-certifications h1 {
        font-size: 1.7em;
    }
    
    .arrow-button-icon{
        font-size: 20px;

    }
    .certifications-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .certification {
        width: 16em;
    }
    
}
