.about {
    margin: 50px 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 80px;
    opacity: 0.9;
    padding-top: 50px;
    padding-bottom: 150px;
}
.about-header h1{
    position: relative;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}
.about-header h1 span{
    font-weight: 600;
    background: linear-gradient(267deg, #571183 10%, #f76f07 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "outfit", sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.about-expertise{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-expertise h1{
    font-size: 36px;
    font-weight: 500;
    font-family: "outfit", Arial;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills .title{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 22px;
}
.skills .title h3{
    font-family: "outfit", sans-serif;
    font-weight: 500;
}
.skills svg {
    font-size: 30px;
}
.expertise-icon {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.expertise-icon:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.chip {
    color: rgb(39, 40, 34) !important;
    background-color: white !important;
    font-size: 0.9rem !important;
    height: 25px !important;
  
    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(39, 40, 34);
    }
  
    svg {
        height: 15px !important;
    }
}

.flex-chips {
    line-height: 2;
    margin: 0.5;

    .chip-title {
        color: white;
        padding-right: 10px;
    }
}
.flex-chips .MuiChip-root {
    transition: transform 0.2s, border 0.2s;
    margin-right: 0.5em;
}
.flex-chips .MuiChip-outlined {
    background-color: #e0e0e0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.flex-chips .MuiChip-outlined span {
    color: rgb(39, 40, 34);
}
.flex-chips .MuiChip-root:hover {
    transform: scale(1.01);
    border: 2px solid #f98b37;
}

.about-certifications {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-certifications h1 {
    font-size: 36px;
    font-weight: 500;
    font-family: "outfit", Arial;
    position: relative;
}

.certifications-grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.arrow-button-left {
    border: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    padding-right: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.arrow-button-left:hover {
    transform: scale(1.2);
    opacity: 1;
}
.arrow-button-right {
    border: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    padding-left: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.arrow-button-right:hover {
    transform: scale(1.2);
    opacity: 1;
}
.certifications-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
}
.certification {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.certification:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgb(248, 63, 11), 0 0 15px 5px rgba(255, 0, 150, 0.2);
}

.certification img {
    width: 100%;
    object-fit: cover;
}
.certification .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(rgba(69, 18, 101, 0.2), #c3380e 110%);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}
.certification:hover .overlay{
    transform: translateY(0);
}
.certification h3{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: "outfit", sans-serif;
}