.profile {
    margin: 0px;
    padding: 150px;
    padding-top: 250px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    position: relative;
}
.profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--header-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    background-attachment: fixed;
    opacity: var(--header-img-opacity);
    z-index: -1; 
}
.profile-picture img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: 5px solid transparent;
    background: linear-gradient(white, white), var(--background-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.profile-picture img:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgb(248, 63, 11), 0 0 15px 20px rgba(255, 0, 150, 0.2);
}
.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-icons-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:left;
    padding-left: 10px;
    padding-bottom: 15px;
    gap: 15px;
}
.profile-icons-bottom{
    display: none;
}
.profile-icon{
    cursor: pointer;
    font-size: 28px;
    color: var(--text);
    transition: transform 0.5s ease;
}
.profile-icon:hover{
    transform: scale(1.1);

}
.profile-info h1{
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    font-family: serif;
}
.profile-info p{
    width: 100%;
    text-align: center;
    font-family: "outfit";
    font-size: 20px;
}
.profile-connect{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    gap: 30px;
    font-size: 24px;
    font-weight: 500;
}
.profile-connect-contact{
    padding: 25px 45px;
    border-radius: 50px;
    background: var(--background-gradient);
    cursor: pointer;
    transition: transform 0.5s ease, border-color 0.5s ease;
}
.profile-connect-contact:hover{
    transform: scale(1.05);
    border: 2px solid var(--text);
}
.profile-connect-resume{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 20px 45px;
    border-radius: 50px;
    border: 2px solid var(--text);
    cursor: pointer;
    transition: transform 0.5s ease, border-color 0.5s ease;
}
.download-icon-resume{
    font-size: 18px;
}
.profile-connect-resume:hover{
    transform: scale(1.05);
    border-color: var(--text-border-color);
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .download-icon-resume{
        color: #4e1c6d;
    }
}

@media (max-width: 768px) {
    .profile {
        padding: 80px;
        flex-direction: column;
        align-items: left;
        gap: 20px;
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .profile-picture img {
        width: 300px;
        background-size: cover;
    }
    .profile-info {
        align-items: center;
        flex-direction: column;
    }
    .profile-icons-top {
        display: none;
    }
    .profile-icons-bottom {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 10px;
        padding-top: 30px;
    }
    .profile-info h1{
        font-size: 44px;
        text-align: left;
    }
    .profile-info p{
        font-size: 18px;
    }
    .profile-connect {
        align-items: center;

        .profile-connect-contact{
            display: none;
        }
        .profile-connect-resume{
            font-size: 30px;
        }
    }
}

@media (max-width: 360px) {
    .profile {
        display: flex;
        padding: 40px;
        padding-top: 150px;
        padding-bottom: 80px;
        flex-direction: column;
        align-items: left;
        gap: 20px;
        position: relative;
    }
    .profile-picture img {
        width: 200px;
    }
    .profile-info {
        align-items: center;
        flex-direction: column;
    }
    .profile-icons-top {
        display: none;
    }
    .profile-icons-bottom {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 10px;
        padding-top: 30px;
    }
    .profile-info h1{
        text-align: center;
        font-size: 36px;
    }
    .profile-info p{
        text-align: left;
        font-size: 14px;
    }
    .profile-connect {
        align-items: center;

        .profile-connect-contact{
            display: none;
        }
        .profile-connect-resume p{
            font-size: 16px;
        }
    }
}