.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(#161513, #161513);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.nav-bar img {
    width: 70px;
    height: auto;
    margin-left: 40px;
    position: relative;
    opacity: 0.8;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.nav-bar img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
    opacity: 1; /* Change opacity on hover */
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-family: "outfit", sans-serif;
    font-size: 20px;
}
.nav-menu li{
    padding: 0px 15px;
    cursor: default;
    transition: transform 0.5s ease, background 0.5s ease;
}
.anchor-link{
    text-decoration: none;
    color: #f7f1e8;
}
.nav-menu li:hover:not(.active) {
    transform: scale(1.1);
    background: linear-gradient(267deg, #571183 10%, #f83f0b 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu li.active {
    transform: scale(1.1);
    background: linear-gradient(267deg, #571183 10%, #f83f0b 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-connect{
    margin-bottom: 10px;
    margin-right: 40px;
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #f83f0b 30%, #571183 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}