.experience {
    margin: 0px;
    padding: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
}
.experience h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.timeline {
    width: 95%;
    font-family: 'outfit', sans-serif;
    cursor: default;
}
.timeline .vertical-timeline--two-columns{
    width: 100%;
}
.job-description{
    background: transparent;
    border: 3px solid var(--text);
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}
.job-description:hover {
    transform: scale(1.03);
    border-color: #e53200;
    box-shadow: var(--job-description-box-shadow);
}
.job-date{
    font-family: 'outline', monospace;
    color: var(--text) !important;
    margin-left: 20px;
    margin-right: 20px;
}
.job .job-duties{
    padding-left: 10px;
}
.job-title{
    font-size: 22px;
}
.job-icon{
    color: #f7f1e8;
    background: var(--background-gradient);
}
.vertical-timeline-element-content-arrow {
    border-right: 10px solid var(--text);

}
.job-description:hover .vertical-timeline-element-content-arrow {
    border-right: 10px solid var(--job-content-arrow-color);
}

@media (max-width: 768px) {
    .experience {
        padding: 80px;
        gap: 80px;
        padding-top: 100px;
        padding-bottom: 100px;  
    }
    .experience h1 {
        font-size: 36px;
    }
    .job-title{
        font-size: 20px;
    }
    .job-city{
        font-size: 15px;
    }
    .job-description p{
        font-size: 14px;
    }

}

@media (max-width: 360px) {
    .experience {
        padding: 20px;
        gap: 50px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .experience h1 {
        font-size: 30px;
    }
    .job-title{
        font-size: 18px;
    }
    .job-city{
        font-size: 14px;
    }
}