.experience {
    margin: 0px;
    padding: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
}
.experience h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.timeline {
    width: 95%;
    font-family: 'outfit', sans-serif;
    cursor: default;
}
.timeline .vertical-timeline--two-columns{
    width: 100%;
}
.job-description{
    background: transparent;
    border: 3px solid #f7f1e8;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease, background 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}
.job-description:hover {
    transform: scale(1.03);
    background: linear-gradient(rgba(69, 18, 101, 0.350), #c3380e 110%);
    border-color: #f83e0ba7;
    box-shadow: 0 5px 15px rgb(248, 63, 11), 0 0 15px 10px rgba(255, 0, 150, 0.2);
}
.job .job-date{
    font-family: 'outline', monospace;
    color: #f7f1e8 !important;
    margin-left: 20px;
    margin-right: 20px;
}
.job .job-duties{
    padding-left: 10px;
}
.job-title{
    font-size: 22px;
}
.job-icon{
    background: linear-gradient(270deg, #f83f0b 10%, #571183 100%);
}
.job .job-tool-chip {
    color: rgb(39, 40, 34) !important;
    background-color: #f7f1e8 !important;
    font-size: 0.9rem !important;
    height: 25px !important;

    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(39, 40, 34);
    }
  
    svg {
        height: 15px !important;
    }
}
.job-tool-flex-chips {
    line-height: 2;
    padding: 10px;
}
.job-tool-flex-chips .MuiChip-root {
    transition: transform 0.2s;
    margin-right: 0.5em;
}
.job-tool-flex-chips .MuiChip-root:hover {
    transform: scale(1.04);
}

.timeline-graduation .job-tool-chip {
    color: rgb(39, 40, 34) !important;
    background-color: #f7f1e8 !important;
    font-size: 0.9rem !important;
    height: 25px !important;

    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(39, 40, 34);
    }
  
    svg {
        height: 15px !important;
    }
}
.timeline-graduation .job-date{
    font-family: 'outline', monospace;
    color: #f7f1e8 !important;
    margin-left: 20px;
    margin-right: 20px;
}